.navigation_container {
    background: var(--navigation_menu_background);
}

.navigation_container a {
    display: block;
    margin: 3vh 15px 3vh 15px;
    color: #d7d7d7;
    text-decoration: none;
    padding-left: 2vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-radius: 5px;
}

.navigation_container a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.navigation_container a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

@media screen and (max-width: 1000px) {

    .navigation_container {
        display: none;
    }

    .navigation_container a {
        margin: 3vh 2vw 3vh 2vw;
    }
}