:root {
    --header-height: 3.5rem;
    --card-width: min(70%, 24rem);
    --header_background: linear-gradient(to bottom, rgba(5, 39, 103, 0.7), rgb(5, 39, 103) 70%);
    --navigation_toggle_border: white;
    --navigation_menu_background: linear-gradient(to bottom, rgb(5, 39, 103) 0%, #3a0647 70%);
    --navigation_toggle_background: rgba(0,0,0,0.3);
    --navigation_toggle_checked_background: rgba(0,0,0,0.6);
    --navigation_toggle_border: white;
    --card-background: radial-gradient(white 1%, blanchedalmond);
    --card-border-color: rgba(0,0,0,.125);
    --card-border-width: 1px;
    --card-border-radius: 10px;
}

.badges_container_1 {
    --badge-background-color: rgb(16, 112, 255);
    --badge-color: white;
    --badge-detail-background-color: #333;
    --badge-detail-color: white;
}

.badges_container_2 {
    --badge-background-color: rgb(108, 118, 126);
    --badge-color: white;
    --badge-detail-background-color: #333;
    --badge-detail-color: white;
}

    .timeline {
        --bar-width: min(4px, 1vw);
        --timeline-container-margin: 1vw;
        --timeline-container-border-width: 2px;
        --timeline-point-diameter: 15px;
        --timeline-step-border-radius: 20px;
        --timeline-container-border-color: black;
        --timeline-container-background: lightgrey;
        --timeline-bar-color: black;
        --timeline-point-color: red;
    }