body {
    display: grid;
    grid-template-areas:
        "header content"
        "navbar content";
    grid-template-columns: min(30vw, 300px) 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow-x: hidden;
}

header {
    grid-area: header;
}

.navigation_container {
    grid-area: navbar;
}

main {
    grid-area: content;
    overflow-x: scroll;
}

@media screen and (max-width: 1000px) {
    body {
        grid-template-areas:
            "header"
            "navbar"
            "content";
        grid-template-columns: 100%;
        grid-template-rows: auto auto 1fr;
        min-height: 100vh;
    }
}